:root {
    --white: #ffffff;
    --black: #000000;
    --french-blue: #3083DC;
    --black-graphite:#303030;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
}

#root {
    width: 100vw;
    height: 100vh;
}

.header {
    display: flex;
    align-items: center;
    height: 5rem; 
    padding: 1.6rem;
}

.header__logo img {
    width: 22rem;
    height: auto; 
}

