<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <title>AccountSync</title>
  <%- include('../head.ejs', { styleCurrent: "/statics/login/login.css", jsCurrent: "/statics/login/login.js"}) %>
</head>
<body>
  <%- include('../loading.ejs')%>
  </div>
    <div id="root">
        <div class="header"> 
          <div class="header__logo">
            <img src="/public/img/logo/Logotipo.svg" alt="Logo da empresa">
          </div>
        </div>
        <div class="main">
          <div class="slogan">
            <span class="slogan__title">Você no comando!</span>
            <img src="/public/img/img-login.png">
            <span  class="slogan__description">Domine suas finanças e conquiste uma vida financeira mais tranquila.</span>
          </div>
          <div class="login">
            <h1 class="login__title">Fazer login</h1>
            <form class="login__form">
              <div class="login__form-group-input">
                <label  class="login__form-label" id="labelUser" for="username">Insira seu e-mail</label>
                <input type="text" autocomplete="username" class="login__form-input" id="username">
              </div>
              <div class="login__form-group-input">
                <label class="login__form-label" id="labelPassword" for="password">Insira sua senha</label>
                <input type="password" autocomplete="current-password" class="login__form-input password" id="password">
              </div>
              <div class="login__form-group-checkbox">
                <input type="checkbox" id="remember-password" name="lembrar-senha">
                <label for="remember-password">Lembrar senha</label>
              </div>
              <button class="login__button disabled" id="loginButton">Entrar</button>
            </form>
          </div>
        </div>
    </div>
    <script async defer src="https://apis.google.com/js/api.js"></script>
    <script async defer src="https://accounts.google.com/gsi/client"></script>
</body>
</html>

