<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <title>AccountSync</title>
  <%- include('../head.ejs', { styleCurrent: "/public/css/login.css"}) %>
</head>
<body>
    <div id="root">
        <div class="header"> 
          <div class="header__logo">
            <img src="/public/img/logo/Logotipo.svg" alt="Logo da empresa">
          </div>
        </div>
        <div class="main">
          <div class="slogan">
            <span class="slogan__title">Você no comando!</span>
            <img src="/public/img/img-login.png">
            <span  class="slogan__description">Domine suas finanças e conquiste uma vida financeira mais tranquila.</span>
          </div>
          <div class="login">
            <h1 class="login__title">Fazer login</h1>
            <form class="login__form">
              <div class="login__form-group">
                <label  class="login__form-label" for="username">E-mail</label>
                <input type="text" autocomplete="username" class="login__form-input" id="username" placeholder="Insira seu e-mail">
              </div>
              <div class="login__form-group">
                <label class="login__form-label" for="password">Senha</label>
                <input type="password" autocomplete="current-password" class="login__form-input" id="password" placeholder="Insira sua senha">
              </div>
              <button type="submit" class="login__button">Entrar</button>
            </form>
          </div>
        </div>
    </div>
</body>
</html>

